# NOM: NYUMEA PEHA DARYL GERVAIS
# MATRICULE: 24H2571
# NIVEAU : LICENCE 2
# UNIVERSITE : UNIVERSITE DE YAOUNDE 1

RewriteEngine On

# NOM: NYUMEA PEHA DARYL GERVAIS
# MATRICULE: 24H2571
# NIVEAU : LICENCE 2
# UNIVERSITE : UNIVERSITE DE YAOUNDE 1

DirectoryIndex index.php
Options -Indexes
AddDefaultCharset UTF-8

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]
